.menu-container {
    display: grid;
    grid-template-areas:
      'auto auto auto auto';
}

.menu-title {
  font-size: 60px;
  text-shadow: #000000 1px 0 10px;
  color: #ffffff;
  text-align: center;
} 