.about-container {
    margin-top: 4rem;
    margin-left: 5rem;
}

.about-img {
    margin-bottom: 2rem;
    width: 30rem;
    border-radius: 1rem;
}

@media only screen and (max-width: 768px) {

    .about-container {
        margin: 0rem;
    }

    .about-img {
        margin: 0.5rem 0rem;
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {

    .about-container {
        margin: 0.5rem;
    }

    .about-img {
        margin: 0.5rem 0rem;
        width: 100%;
    }
}