.contact-container {
    margin: 4rem 5rem 2rem 5rem;
}

.contact-form {
    margin-top: 1rem;
    padding: 2rem 0rem;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    background-color: #ffffffba;
    border-radius: 1rem;
}

.contact-form input,
textarea {
    width: 90%;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.contact-form select {
    width: 92%;
    border-radius: 0.5rem;
    padding: 0.8rem;
}

.modal-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 4;
    width: 90%;
    height: 100%;
}

.modal-wrap .modal {
    text-align: center;
    padding: 2rem;
    border-radius: 1rem;
    background-color: #ffffff;
    box-shadow: #0000008f 0px 22px 70px 4px;
}

.modal-wrap .modal img {
    width: 11rem;
    height: auto;
}

.display-none {
    display: none;
}

@media only screen and (max-width: 768px),
(max-width: 1024px) {

    .contact-container {
        margin: 1rem 0rem;
    }

    .contact-form {
        padding: 0.5rem 0rem;
    }

    .contact-form input,
    textarea {
        width: 85%;
        border-radius: 0.5rem;
        padding: 0.8rem;
    }

    .contact-form select {
        width: 90%;
        border-radius: 0.5rem;
        padding: 0.8rem;
    }

    .modal-wrap {
        width: 95%;
    }

    .modal-wrap .modal {
        margin: 0rem;
        padding: 1rem;
    }

}