nav {
  overflow: hidden;
  background-color: #4B4A54;
  border-radius: 5px;
}

nav a {
  display: inline-block;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
}

nav a:hover {
  transform: scale(1.3);
  transition: 0.2s;
}