@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css);

footer {
  overflow: hidden;
  background-color: #4B4A54;
  text-align: center;
  border-radius: 0.5rem;
  color: #ffffff;
}

footer a {
  display: inline-block;
  padding: 0.5rem 0.8rem;
  color: #ffffff;
  text-decoration: none;
  font-size: 1.5rem;
}

footer a:hover {
  transform: scale(1.3);
  transition: 0.2s;
}

@media only screen and (max-width: 768px) {
  footer ul {
    padding: 0rem;
  }

}