body {
    background-image: url('./images/retro-restaurant.jpg');
    background-size: 250vh;
}

* {
    font-family: monospace;
    font-size: 20px;
}

h2 {
    font-size: 3rem;
    margin: 0px;
    color: #ffffff;
    text-shadow: #000000 1px 0 10px;
}

p {
    color: #ffffff;
}

@media only screen and (max-width: 768px) {
    h2 {
        font-size: 2rem;
    }
}

button {
    width: 100px;
    padding: 10px;
    margin-top: 1rem;
    margin-right: 10px;
    border-radius: 10px;
    transition-duration: 0.4s;
    cursor: pointer;
    box-shadow: #000000 1px 0px 5px;
    border: none;
}

button:hover {
    transform: scale(1.1);
    transition: 0.2s;
}

@media only screen and (max-width: 768px) {
    button {
        margin-top: 0.5rem;
        margin-right: 0.5rem;
    }
}