body {
    background-image: url('./images/retro-restaurant.jpg');
    background-size: cover;
    /* background-repeat: no-repeat; */
    /* background-size: auto; */
}

* {
    font-family: monospace;
    font-size: 20px;

}